<html>
  <%= render 'shared/header', stylesheet_link: 'participations', page_title: "Add Participation" %>
  <body>
    <%= render 'shared/navbar' %>

	<%= render 'participationsNewForm' %>
	</div>

	<%= render 'shared/footer' %>
	</body>
</html>