<%# Footer %>
<div class="footer">
    <div class="info">
        <h5>Spirit Ice Arena</h5>
        <h5>400 Holleman Dr E, College Station, TX 77840</h5>
        <h5>GENERAL INQUIRIES: TAMUICEHOCKEY@GMAIL.COM</h5>
        <p><a href = "mailto: TAMUICEHOCKEY@GMAIL.COM" target="_blank">Email Us</a></p>
    </div>
    <div class="sponsors">
        <div>
            <%= image_tag("rec.png")%>
        </div>
        <div>
            <%= image_tag("ACHA.png")%>
        </div>
    </div>
</div>