<html>
  <%= render 'shared/header', stylesheet_link: 'pages', page_title: "Help" %>
	<head>
		<style>
		
			table, th, td {
			border: 1px solid black;
			}
			table.center {
			margin-left: auto;
			margin-right: auto;
			}
			
		</style>
	</head>
	
	<body>
	  <%= render 'shared/navbar' %>
	  <div class="help-title">
			
			<h2>Login:</h2>
			<p>
			In order to perform any administrative actions you will first need to login. To login, 
			you will first have to click the "Admin Login" link at the top-right of the webpage
			</p>
			
			<%= image_tag("login.png", size:"500x250") %>
			
			<p>
			This link can be found on every page of the site. After clicking this link, you will be 
			prompted to select an email. If the selected email is a recognized/approved admin email,
			you will be redirected back to the homepage. You are successfully logged in if the
			"Admin Login" link has been replaced with a "Log Out" link.
			</p>
			
			<br>
			<br>
			
		</div>
	
	<%= render 'shared/footer' %>
<html>

