<html>
    <h1>Add Game:</h1>

    <form>
        Opposing Team: <input type="text" name="opposingteam" /><br/>
        location: <input type="text" name="location"/><br/>
        Date: <input type="date" name="date"><br/>
        <input type="submit" value="Submit">
    </form>
    
    <%= link_to("Home", root_path, :class => 'go back') %>
</html>