<html lang="en">
<%= render 'shared/header', stylesheet_link: 'players', page_title: "Add Game" %>
<body>
    <%= render 'shared/navbar' %>
    
    <div class="body-div-game-add">

        <%= render 'games/gameNewForm' %>
    </div>

 <%= render 'shared/footer' %>
</body>