<html>
    <h1>Choose A Game</h1>

    <form>
        Date: <input type="date" name="date" /><br/>
        
        <input type="submit" value="Submit">
    </form>

    <%= link_to("Home", root_path, :class => 'go back') %>
</html>