<html lang="en">
	<%= render 'shared/header', stylesheet_link: 'participations', page_title: "Participation Index" %>
	<body>
		<%= render 'shared/navbar' %>
		<div class='body-div-participation-add'>
			<div class='title'>
				<h2>Log in to the Admin Dashboard</h2>
			</div>
			<%= link_to '<button class="btn btn-primary btn-sm">Sign in with Google</button>'.html_safe, admin_google_oauth2_omniauth_authorize_path %><br/>
		</div>
	</body>
	<%= render 'shared/footer' %>
</html>