<html lang="en">

<%= render 'shared/header', stylesheet_link: 'players', page_title: "Home Page" %>

<body>
    <%= render 'shared/navbar' %>

    <div class="bg-image"></div>

    <div class="bg-text">
        <h1>Texas A&M Ice Hockey</h1>
        <h1>Statistics Tracker</h1>
    </div>
    
    <%= render 'shared/footer' %>
</body>