<html>
    <h1>Choose A Player</h1>

    <form>
        First Name: <input type="text" name="firstname" /><br/>
        Last Name: <input type="text" name="lastname"/><br/>
        
        <input type="submit" value="Submit">
    </form>

    <%= link_to("Home", root_path, :class => 'go back') %>
</html>