body div{
    //border: 1px solid black;
}


//Home page image https://www.w3schools.com/howto/howto_css_blurred_background.asp
body, html {
    height: 100%;
}

// Calendar CSS start
.calendar{
    margin-top: 25px;
}

.against-team{
    display: flex;
    width: 100%;
    justify-content: center;
}

.game-actions{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

@media(max-width: 1450px){
    .game-actions{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .game-actions button{
        margin-bottom: 5px;
    }
}

// Games view CSS start
.title{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

.game-stats{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 50%;
    margin: auto;
}

.game-info, .game-played-stats{
    border: 1px solid white;
    text-align: left;
    padding-left: 10px;
    margin: 10px;
}

.game-stats-add {
    //padding-left: 10px;
    color: black;
    background-color: white;
    width: 250px;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.title{
    color: black !important;
    text-align: center;
    width: 100%;
}

.submit-button{
    display: flex;
    justify-content: center;
}


.game-stats-delete{
    padding-left: 10px;
    color: white;
}

.body-div-game-add, .body-div-game-edit {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #bdc3c7, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    flex-direction: column;
    padding-bottom: 20px;
}

.body-div-game-show, .body-div-game-delete{
    background: linear-gradient(to left, #bdc3c7, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}

.new-game-div, .edit-game-div, .show-game-div, .delete-game-div{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.edit-game-div{
    display: flex;
    justify-content: space-evenly;
    width: 450px;
}

//Games Add CSS start
.input_field input, .submit-button input{
    border-radius: 8%;
}

.input_field{
    margin: 10px;
}

.submit-button input{
    margin-bottom: 10px;
    margin-top: 10px;
}

//Games Edit CSS start
.game-info-edit{
    padding-left: 10px;
    color: black;
}

.games-stats-edit{
    color: black;
}



.add-button {
    background-color: powderblue;
}

.game-edit{
    margin-bottom: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-div{
    display: flex;
    flex-direction: row;
}




//footer CSS start
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #500000;
}

.sponsors{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.simple-calendar {
    .calendar-title {
        font-size: 50px;
        color: #500000;
    }
    .calendar-heading {
        text-align: center;
        font-size: 30px;
        justify-content: space-evenly;
        width: 100%;
    }

    @media (max-width: 615px){
        .calendar-heading{
            font-size: 20px;
        }
    }

    tr {
        text-align: center;
    }
    th {
        text-align: center;
    }
    .day {text-align: left;}
    .wday-0 {}//sunday
    .wday-1 {}//monday
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
  
    .today {background-color: rgb(192, 120, 120);}
    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {background: rgb(255, 255, 255); opacity: 0.3;}
    .next-month {background: rgb(255, 255, 255); opacity: 0.3;}
    .current-month {}
  
    .has-events {}

    .scrimmage-game{
        background-color: lightyellow;
        padding: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-radius: 3%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 5px;
    }

    .season-game{
        background-color: rgb(200, 232, 238);
        padding: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-radius: 3%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 5px;
    }
  }