// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.help-title{
    text-align: center;
    color: white;
    background: linear-gradient(to left, #bdc3c7, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.help-buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.help-div{
    display: flex;
    flex-direction: row;
    height: 300px;
}

.body{
    background: linear-gradient(to left, #bdc3c7, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//footer CSS start
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #500000;
}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: white !important;
}