
body div {
    //border: 1px solid black;
}

@media(max-width:990px) {
    .navbar .navbar-brand {float:none;display: inline-block;}
    .navbar .navbar-nav>.nav-item { float: none; margin-left: .1rem;}
    .navbar .navbar-nav {float:none !important;}
    .nav-item{width:100%;text-align:left;} 
    .navbar-toggler {display: block !important;}
    .navbar-toggleable-sm.collapse {display:none !important}
    .navbar-toggleable-sm.collapse.in {display:block !important}

    .button-div{
        display: flex;
        align-items: center;
    }

    .button-div a{
        margin-top: 10px;
    }

    .login {
        display: none !important;
    }

    .vertical-line{
        display: none;
    }

    .bg-text{
        //display: none;
    }

    #small-page-title{
        display: contents !important;
    }

    .login-sm{
        display: contents !important;
    }

    .login-sm a{
        color:white;
        &:hover{
            color: white;
        }
    }

}

.login-sm{
    display: none;
}

#small-page-title{
    display: none;
}

.navbar{
    background-color: #500000;
}

.container-fluid{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.logo-image {
    background-color: white;
    margin-right: 15%;
}

.button-div{
    display: flex;
    justify-content: space-evenly;
    
    width: 100%;
}

.vertical-line{
    border-left: 3px solid white;
}

.login {
    display: flex;
    justify-content:flex-end;

    font-size: x-small;

    padding-bottom: 50px;
    margin-left: 15%;
}

.login a{
    color:white;
    &:hover{
        color: white;
    }
}

// button animation https://dev.to/webdeasy/top-20-css-buttons-animations-f41
.button-div button{
    //font-family: cursive;
    display: inline-block;
    padding: .75rem 1.25rem;
    color: indianred;
    text-transform: uppercase;
    border-radius: 1rem;
    font-size: .75rem;
    letter-spacing: .15rem;
    transition: all 1.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      background-color: white;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-radius: 1rem;
      background-color: black;
      transition: all .3s;
      z-index: -1;
    }
    &:hover {
      color: white;
      &:before {
        width: 100%;
      }
    }
  }

//Home page image https://www.w3schools.com/howto/howto_css_blurred_background.asp
body, html {
    height: 100%;
}


// Participations view CSS start
.title {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

.participation-stats {
    background-color: white;
    width: 30%;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.participation-info, .participation-played-stats {
    border: 1px solid white;
    text-align: left;
    padding-left: 10px;
    margin: 10px;
}

.participation-add, .participation-delete {
    color: black;
    background-color: white;
    width: 30%;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.body-div-participation-show, .body-div-participation-edit, .body-div-participation-add, .body-div-participation-delete {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #bdc3c7, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    flex-direction: column;
    padding-bottom: 20px;
}

.new-participation-div, .edit-participation-div, .show-participation-div, .delete-participation-div {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.edit-participation-div button {
    margin-right: 25px;
}

//Participations Add CSS start
.input_field input, .submit-button input {
    border-radius: 8%;
}

.input_field {
    margin: 10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.submit-button input {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

//Participations Edit CSS start
.participation-info-edit, .submit-button {
    padding-left: 10px;
    color: white;
}

.participations-stats-edit, participation-stats-delete {
    color: white;
}

.participation-edit, .container-manager {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skater-container, .goalier-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}




//footer CSS start
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #500000;
}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
